html,body{
	
	height: 100%;
	background-color: black;
	


}
  
 .col {
    
    
    opacity: 10;
    border: 3px;
    border-color: grey;
   
	padding:10px;
	
}
.slider {
  -webkit-appearance: none;
  width: 99%;
  height: 7px;
  top: 37%;
  bottom: 50%;
  left: 1%;
  right: 50%;
  position: absolute;
  border-radius: 5px;
  background: black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;

}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
 
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
 padding-left: 0px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
.slidecontainer{
	 width: 23%;
   top: 29%;
  bottom: 50%;
  left: 38%;
  right: 50%;
  position: absolute;
}

#textboxid
{

    height:44px;
    width: 355px;
    font-size:14pt;

    background-color: #2C3539;
     top: 20%;
    bottom: 80%;
	left: 37%;
	right: 50%;
	position: absolute;
}
.center{
	
	width: 357px;
	height: 350px;
	background-color: #2C3539;
	top: 55%;
	bottom: 50%;
	left: 50.2%;
	right: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
} 
.container {

  display: block;
  position: relative;
  padding-left: 36px;
  margin-bottom: 12px;
  cursor: pointer;
  top: 38%;
  left:-12%;
  margin-top: 50%
  margin-bottom:50%;
  margin-right: 50%;
  margin-left: 50%;
  font-size: 16px;
  -	
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
font-family: "FontAwesome";
    content: "\f00c";
    font-size: 15px;
    color: transparent !important;
    background: #fef2e0;
    display: block;

    border: 1px solid black;
    margin-right: 7px;
  height: 16px;
  width: 16px;
  
  
}


.container:hover input ~ .checkmark {
  background-color: black;
  border-width: 3px;
  border-color: white;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}


.container .checkmark:after {
  left: 5x;
  top: 1px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: scale(2);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
* {
    box-sizing: border-box;
} 


.button {
    position: absolute;
    top: 71%;
    left:38.6%;
    width:320px;
    height: 40px;
    background-color: #32CD32;
    font-family: Bookman Old Style;
    font-size: 16px;
    border-color: #32CD32;

}
.abc{
	top: 13%;
	left: 43%;
	color: lightgrey;
	position: absolute;
	font-size: 12px;
}

.flex-container {
  display: flex;
  background-color: black;
  width: 23.5%;
  position: absolute;
  height: 40px;
  top: 63%;
  left: 38.5%;
  right: 50%;
  bottom: 50%
 
}

.flex-container > div {
  background-color: black;
  margin: 3px;
  padding: 3px;
  font-size: 9px;
  color: lightgrey;
}
#main {
  width: 50px;
  height: 20px;
  border: 1px solid black;
  display: flex;
  position: absolute;
   top: 25.6%;
  left: 78.5%;
  right: 50%;
  bottom: 50%
  margin: 2px;
	padding: 2px;

}

#main div {
  -ms-flex: 4;  
  flex: 4;
  font-size: 10px;

  margin: 2px;
	padding: 2px;
}
